/* blog-details page */
.blog-load{
    margin-top: -200px;
}

.blog-details {
    margin-top: 200px;
    font-family: 'Quicksand', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-article {
    line-height: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 50%;
    border-radius: 10px;
    /* margin-top: -50px; */
    margin-bottom: 20px;
}



.blog-details h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    line-height: 1.4; /* Add line height to handle multiple-line titles */
    word-wrap: break-word; /* Ensures long words break properly */
    overflow-wrap: break-word;
    word-break: break-word;
}

.blog-details-body {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.blog-details-body p {
    margin-bottom: 15px;
}

.blog-details p {
    font-size: 1rem;
    color: #777;
}

article {
    padding: 10px 0;
}


/*====================================================================*/
/* Styling for blog review */
.blog_preview {
    width: 100%;
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 25px;
    margin-top: 15px;
    border-radius: 8px;
    padding-bottom: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
}

.blog_preview a {
  margin-top: 10px;
}

.blog_preview:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.blog_preview:hover .icon-link {
  opacity: 1;
}

.blog_preview h3 {
    color: #f1356d;
    margin-bottom: 10px;
    font-size: 1.2rem;
    overflow-wrap: break-word; /* Handle long words or strings */
    word-wrap: break-word; /* For older browsers */
}

.blog_preview p {
    margin: 10px 0; /* Margin around paragraphs */
    line-height: 1.6; /* Improve readability */
    overflow-wrap: break-word; /* Handle long words or strings */
    word-wrap: break-word; /* For older browsers */
}