/* Account page specific styling */
* {
    margin: 0;
    padding: 0;
    /* font-family: "Poppins", system-ui; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
    font-size: 1.1rem;
}

body{
    background: #F4F4F4;
    display: flex;
    justify-content:center ;
    align-items: center;
    /* width: 80vw;
    max-height: 20vh; */
}

.text {
  margin: 0; 
  margin-right: 8px;
  font-size: 16px;
}

.date-container {
    display: flex;
    align-items: center;
}

.account {
  text-align: center; /* Centers all text within the account section */
  padding: 20px;

}

.account-h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    padding: 1.5rem 2rem;
    background-color: #f1356d;
    color: white;
    border-radius: 50px 50px 0 0; /* Top curved, bottom flat */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    margin-left: 8rem;
    max-width: 90%;
    width: 100%;
    word-break: break-word; /* Break long words */
}


.account-p {
  font-size: 16px;
  margin-bottom: 20px;
}

.account-link {
    display: inline-block;
    padding: 10px 20px;
    background-color:#f1356d;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 115px;
    position: absolute;
    left: 45%;
}

.account-link:hover {
  background-color:#c02856
}

.account-blog-list{
    margin-bottom: 200px;
    float: right;
    
}

.account-blog-list p {
    padding-top: 10px;
    color: #555;
    line-height: 1.6;
    text-align: left;
}

.account-blog-list h3 {
    color: #f1356d;
    padding-right: 10px;
    /* font-size: 1.5rem; */
    text-align: left;
}


.account-blog-list .read-more-link {
    margin-right: 437px;
    margin-top: 10px; 
}

.read-more-link:hover {
    color: #fff;
    background-color: #c02856;
}

.icon {
  width: 25px; 
  height: 25px;
  margin-left: 100px;
}

.blog_preview-account {
    width: 120%;
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 15px;
    margin-top: 80px;
    margin-bottom: -75px;
    margin-left: 95px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.blog_preview-account h3 {
    color: #f1356d;
    margin-bottom: 10px;
    
    overflow-wrap: break-word; /* Handle long words or strings */
    word-wrap: break-word; /* For older browsers */
}
.blog_preview-account p {
    margin: 10px 0; /* Margin around paragraphs */
    line-height: 1.6; /* Improve readability */
    overflow-wrap: break-word; /* Handle long words or strings */
    word-wrap: break-word; /* For older browsers */
}

.blog_preview-account a {
  margin-top: 10px;
}

.blog_preview-account:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.blog_preview-account:hover .icon-link {
  opacity: 1;
}