.header-container-inner {
    margin-left: 150px;
    width: 50%;
    font-weight: 500;
}

.header-container-inner h1 {
    font-size: 35px;
    color: #f1356d;
    font-weight: 400;
}

.header-container-inner p {
    font-weight: 350;
}

.header-container {
    width: 1200px;
    position: absolute;

    /* In relation to parent size*/
    left: 50%;
    top: 50%;

    /* In relation to the ELEMENT size*/
    transform: translate(-50%, -50%);

}


.btn:link,
.btn:visited {
    font-size: 20px;
    font-weight: 600;
    background-color: #f1356d;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
    margin-top: 50px;
}

.btn:hover {
    color: #fff;
    background-color: #c02856;
}

.horizontal-line {
    border-top: 1px solid #f2f2f2; /* Border color and thickness */
    position: fixed; /* Fix the position at the bottom */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 20px;
   
}

.horizontal-line a {
    text-decoration: none;
    /* color: #f2f2f2; */
    /* color: #f1356d; */
    padding-left: 30px;
    font-size: large;
    }

.horizontal-line a:hover {
    color: #f1356d;
}

