nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    z-index: 1000;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .navbar .logo p {
    font-size: 27px;
    color: #212121;
}

.nav-icon {
    width: 60px; 
    height: 50px;
    margin-left: 10px;
    filter: invert(42%) sepia(59%) saturate(4258%) hue-rotate(323deg) brightness(95%) contrast(93%)
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    margin: auto;
}

.navbar a{
    text-decoration: none;
    font-weight: 600;
    color: #212121;
}

 .navbar a:hover {
    color: #f1356d;
}

 .miracle-icon{
   margin-left: -150px;
    
}

.content {
    background-color: #212121;
    max-width: 600px;
    /* margin-top: 200px; */
    /* padding: 200px; */
}


/* DropDown styles */
.dropbtn {
  background-color: #f1356d;
  color: white;
  padding: 16px 29px;
  font-size: 16px;
  border-radius: 1px;
  cursor: pointer;
  border: none; /* Remove border */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 17px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: #FF4764; */
  background-color: #c02856;;
}