nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .navbar .logo p {
    font-size: 27px;
    color: #212121;
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    margin: auto;
}

.navbar a{
    text-decoration: none;
    /* font-size: 27px; */
    font-weight: 600;
    color: #212121;
}


nav .navbar .menu{
  display: flex;
}

.navbar .menu li{
  list-style: none;
  margin: 0 15px;
}

 .navbar a:hover {
    color: #f1356d;
}

 .miracle-icon{
   margin-left: -150px;
    
}

.nav-icon {
    width: 60px; 
    height: 50px;
    margin-left: 10px;
    filter: invert(42%) sepia(59%) saturate(4258%) hue-rotate(323deg) brightness(95%) contrast(93%)
}

.content {
    max-width: 600px;
    margin: 40px 420px;
    padding: 20px;
}