/* create new blog form */
.create {
    margin: 0 auto;

    margin-top: 200px;
    max-width: 400px;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create button {
    background-color: #f1356d;
    color: #fff;
    border: 0;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

/* .title-input {
    width: 100%; 
    max-width: 600px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
} */

/* Container for label and input */
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 700px; /* Adjust this value for input field width */
  margin: 0 auto; /* Center the input container */
}

/* Label styling */
.input-container label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Input field styling */
.input-container input[type="text"] {
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #f1356d; 
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s ease;
  border-radius: 0;
}

/* Focus state for input field */
.input-container input[type="text"]:focus {
  border-bottom-color: #ff5c8d; /* Lighter shade of the theme color */
}

/* Placeholder styling */
.input-container input[type="text"]::placeholder {
  color: #ccc;
  font-style: italic;
}

/* Remove border from top, left, and right */
.input-container input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
}
