/* create new blog form */
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create button {
    background-color: #f1356d;
    color: #fff;
    border: 0;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.title-input {
    width: 100%; /* This makes it take up the full width of its container */
    max-width: 600px; /* You can set a max-width to limit how wide it gets */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
}

.title-input:focus {
    border-color: #f1356d;
    box-shadow: 2px 2px 8px rgba(241, 53, 109, 0.5);
}

